<%- include('layouts/app_layout.ejs') %>
<div class="container-fluid h-100 p-0 m-0">
    <div class="row h-100 justify-content-center no-gutters pt-3">
        <div class="col-md-5 col-sm-9 pt-lg-5">
            <form action="/users/login" method="post" class="login-form">
                <div class="card">
                    <card class="card-header ">
                        Users Login
                    </card>
                    <div class="card-body m-5">
                        <div class="form-group input-wrapper mb-4">
                            <i class="fas fa-envelope-square glyphicon"></i>
                            <input type="text" class="form-control rounded-pill" name="email" placeholder="Enter your email">
                        </div>
                        <div class="form-group input-wrapper">
                            <i class="fas fa-lock glyphicon"></i>
                            <input type="text" class="form-control rounded-pill" name="password" placeholder="Enter your password">
                        </div>
                        <div class="form-group form-check float-right">
                            <input type="checkbox" class="form-check-input" name="rememberMe" id="rememberMe">
                            <label class="form-check-label" for="rememberMe">Remember me</label>
                        </div>
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    </div>
                    <div class="card-footer">
                        <div class="row no-gutters">
                            <div class="col-lg-6 p-1">
                                <a href="/users/register" class="btn btn-outline-dark btn-block"><i class="fas fa-plus-circle mr-2"></i>Register</a>
                            </div>
                            <div class="col-lg-6 p-1">
                                <button type="submit"  class="btn btn-dark btn-block"><i class="fas fa-sign-in-alt mr-2"></i>Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
